

body {
  /* background-color: #839fec; */
  color:#474954;
  font-family: 'Lora', serif;
  line-height: 28px;
  font-size: 17px;
  font-weight: lighter;
  text-align: center;
  padding: 10px;
  background-image: url('images/background.jpg');
  background-size: cover;


}

h1 {
  font-family: 'Rock Salt', cursive;
  font-size: 38px;
  letter-spacing: 2px;
  line-height 2px;
  color:#576582 ;
}

h2 {
  font-family: 'Rock Salt', cursive;
  font-size: 22px;
  line-height 2px;
  letter-spacing: 2px;
  color:#576582
}

h3 {
  font-family: 'Rock Salt', cursive;
  font-size: 18px;
  letter-spacing: 2px;
  color:#9E788F ;
  line-height 2px;
}

a {
  color:#ffe5f7;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  font-family: 'Rock Salt', cursive;
}

.card {
  background-color: #d8dce7;
  margin: 28px 188px;
  padding: 18px;
  border-radius: 8px;
  border: 2px solid #3c6eed;
  box-shadow: 3px 3px 10px rgba(17, 64, 134, 0.933)
}

#profile-pic {
  width: 200px;
  border-radius: 100px;
  box-shadow: 0px 0px 18px rgba(19, 34, 57, 0.933)
}


.list-inline {
  list-style: none;
  padding-left: 0px;
  display: inline;
  margin: 11px
}

#social_icons {
  font-size: 30px;
  letter-spacing: 18px;
  color:#9E788F;
}

#social_icons:hover {
  font-size: 30px;
  letter-spacing: 18px;
  color:#474954;}

.sexy_btn {
  background-color:#576582;
  padding: 8px 23px;
  margin: 11px 10px;
  border-radius: 11px;
  display: inline-block;
  box-shadow: 0px 0px 18px rgba(19, 34, 57, 0.933);
}

.sexy_btn:hover {
  color: #9E788F;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

